{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Se déconnecter" %}{% endblock %}

{% block content %}

    <section class="signOut">
        <h1>{% trans "Déconnexion" %}</h1>

        <p>{% trans 'Êtes-vous sûr de vouloir vous déconnecter ?' %}</p>

        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
            <button type="submit" class="btn btn-danger">{% trans 'Déconnexion' %}</button>
        </form>
    </section>
{% endblock %}
