{% extends "account/base.html" %}
{% load i18n %}
{% load account %}
{% block head_title %}{% trans "Création d'un nouveau mot de passe" %}{% endblock %}
{% block content %}
<div class="mdp">
    <h1>{% trans "Mot de passe oublié ?" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Veuillez entrez votre adresse e-mail ci-dessous. Vous y recevrez un mail qui vous permettra de réinitialiser votre mot de passe." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Réinitialiser mon mot de passe' %}" />
    </form>

    <p>{% blocktrans %}Veuillez nous contacter si vous rencontrez des problèmes pour réinitialiser votre mot de passe.{% endblocktrans %}</p>
    </div>
{% endblock %}
