{% extends "account/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Modification de votre mot de passe" %}{% endblock %}
{% block content %}

    <div class="chang">

    <h1>{% if token_fail %}{% trans "Erreur interne" %}{% else %}{% trans "Modification de votre mot de passe" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}Le lien de réinitialisation du mot de passe n'était pas valide, peut-être parce qu'il a déjà été utilisé.  S'il vous plaît demandez <a href="{{ passwd_reset_url }}">un nouveau changement du mot de passe.</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}

            <div class="chang2">

            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="action" value="{% trans 'changer le mot de passe' %}"/>
            </form>
        {% else %}
            <p>{% trans 'Votre mot de passe a été changé.' %}</p>
        {% endif %}
    {% endif %}
    </div>
    </div>

{% endblock %}
