{% extends "account/base.html" %}
{% load i18n %}
{% load account %}
{% block head_title %}{% trans "Réinitialisation du mot de passe" %}{% endblock %}
{% block content %}

    <div class="reinit">

    <h1>{% trans "Réinitialisation de votre mot de passe" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}Nous vous avons envoyé un e-mail. Celui-ci vous permettra de réinitialiser votre mot de passe. Veuillez nous contacter si vous ne le recevez pas dans quelques minutes.{% endblocktrans %}</p>

    </div>


{% endblock %}
