{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Vérifiez votre adresse e-mail" %}{% endblock %}

{% block content %}
<h1>{% trans "Vérifiez votre adresse e-mail" %}</h1>

{% url 'account_email' as email_url %}

<p>{% blocktrans %}Cette partie du site nous oblige à vérifier que
vous êtes bien la personne que vous prétendez être. A cet effet, nous vous demandons de
vérifiez la propriété de votre adresse e-mail. {% endblocktrans %}</p>

<p>{% blocktrans %}Nous vous avons envoyé un e-mail pour
vérification. Veuillez cliquer sur le lien à l'intérieur de cet e-mail. S'il vous plaît
contactez-nous si vous ne le recevez pas dans quelques instants.{% endblocktrans %}</p>

<p>{% blocktrans %}<strong>PS:</strong> vous pouvez toujours <a href="{{ email_url }}">changer votre adresse e-mail</a>.{% endblocktrans %}</p>


{% endblock %}
