{% extends 'base.html' %}<!-- Se base sur le template de base et insère dedans ce qui suit -->

{% block content %}
    <h2>Page de connexion avec le résumé du site</h2>
    {% load socialaccount %}
        <form method="post" action={% url 'accueil' %}>
        {% csrf_token %}
        <!-- form.as_p affiche les composants dans des balises <p> -->
        {{ form.as_p }}
        <button type="submit">Se connecter</button>
        </form> ou
        <a href="{% provider_login_url 'facebook' method="oauth2" %}">Facebook</a> ou
        <a href="{% provider_login_url 'google' method="oauth2" %}">Google</a> ou
        <a href="{% url 'inscription' %}">Créer un compte</a>
{% endblock %}