html, body {
    height: 100%;
}

.accueilTitle{
  color: white;
}


.container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.col {
    margin-top: 10em;
}

.navbar {
    margin-bottom: 1em;
}
.navbar-nav {
    text-align: center;
}

/*.isAuthenticated{*/
/*    text-align: center;*/
/*}*/