{% extends 'base.html' %}<!-- Se base sur le template de base et insère dedans ce qui suit -->
{% block content %}
    {% if user.is_authenticated %}
    {% load static %}
    <section class="accueilTitle">
    <h1>Les parcours</h1></br>
    <p>Choisissez un des parcours de découverte des arbres remarquables :</p></br>
    </section>
    {# ---------------------------------LISTE DES PARCOURS---------------------------------------#}
    <div class="list-group">
        {% for accueil in accueil %}
            <a href="#{{ accueil.pk }}" class="list-group-item list-group-item-action flex-column align-items-start" data-toggle="modal" >
                <div class="d-flex w-100 justify-content-between">
                    <h3 class="mb-1">{{ accueil.title }}</h3>
                    {# <small>3 days ago</small>#}
                </div>
                <div class="d-flex flex-column bd-highlight mb-3">
                  <div class="p-2"><img class="rounded-pill" src="{% if accueil.image %} {{ accueil.image.url }} {% endif %}" width="200" height="200" alt="{{ accueil.title }}"></div>
                    <div class="p-2"><p class="mb-1">{{ accueil.resume }}</p></div>
                    <div class="p-2"><p class="mb-1">{{ accueil.description }}</p></div>
                </div>

            </a>
            {#    Modal 1 #}
            <div class="modal fade" id="{{ accueil.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{ accueil.title }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img class="rounded float-left rounded-pill" src="{% if accueil.image %} {{ accueil.image.url }} {% endif %}" width="200" height="200">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                            <button type="button" class="btn btn-success" onclick="window.location.href = {{ accueil.pk }}">Démarrer</button>
{#                            <input type="button" class="btn btn-success" value="Démarrer" href="{% url 'accueil_detail' accueil.pk %}">#}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    <div class="text-center display-4 m-4"> Ou venez contempler les photos de nos promeneurs :</div>
    <p></p>
<p>
<a href="{% url 'gallery' %}">
<img alt="LLN" src="https://static.booking.weekendesk.fr/image_cache/A1032000/1032799/1032799_1920_595_FSImage_1_EDIT_NEW_VIEW2.jpg" style="width:100%">
</a>
</p>

    </div>
</br></br></br></br>
{% endif %}
{% endblock %}