<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <title>{% block head_title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "/css/base.css" %}">
    <link rel="stylesheet" href={% static "/css/signup.css" %}>
    <link rel="stylesheet" href={% static "/css/index.css" %}>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{#    navbar ------------------------#}

    <nav class="navbar fixed-top navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'accueil' %}"><b>Mobilez </b>
{#                <img class="img-fluid" alt="Mobilez" src="{% static "/img/MOBILEZ.png" %}" >#}
            </a>
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <strong>{{message}}</strong>
                    {% endfor %}
                </div>
            {% endif %}
            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon">
                </span></button>
            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Links -->
                <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'account_email' %}">Change E-mail<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout' %}">Sign Out</a>
                    </li>
                    {% else %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'account_login' %}">Sign In<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% block extra_head %}
    {% endblock %}
</head>

<body>
<section class="background">
<div class="container">
    <div class="row">
        <div class="col">
            {% block content %}
            {% endblock %}

            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        </div>
    </div>
</div>
</section>
</body>

<footer id="sticky-footer" class="py-2 fixed-bottom bg-dark text-white-50">
    <div class="container text-center">
    <small>© 2020 Copyright : Mobilez Louvain-la-Neuve</small>
    </div>
    <!-- Copyright -->
</footer>
</html>
