{% extends 'base.html' %}
{% block content %}
<iframe width="100%" height="500px" frameborder="0" allowfullscreen
        src="//umap.openstreetmap.fr/fr/map/carte-sans-nom_460975?scaleControl=true&miniMap=false&scrollWheelZoom=true&zoomControl=true&allowEdit=false&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=none&captionBar=false&fullscreenControl=null&locateControl=true">
</iframe>
    <p><a href="//umap.openstreetmap.fr/fr/map/carte-sans-nom_460975">Voir en plein écran</a></p>
{% endblock %}